$grHeaderTop: #e0ebef;
$grHeaderBottom: #c0d3da;

$grUserTop: #d4e6ee;
$grUserBottom: #c1d5de;

$bordHeaderBot: #e6e6e6;
$backFormFooter: #d8dbdd;
$backCurrentArrow: #c9dae0;
$backInputReadonly: #ced9dd;

$bordInputColor: #cae2ea;
$bordSocial:#ced8db;
$bordSocialActive:#a8c2ca;
$bordColor: #8ca2a9;
$bordColorLight: #a9c1c9;
$separatorColor: #afd1dc;

$shadowInputColor: rgba(37,119,142,.6);

$socialColor:#93a7ad;
$linkColor: #1358a6;
$selectedColor: #113359;
$pageTitleColor: #d7e2e6;
$blackColor: #6b7c81;
$darkGrayColor: #4f6369;

$grBtnSuccessNormalBottom:#329e21;
$grBtnSuccessNormalTop:#8bcf7f;
$shadowBtnInset:#e9fff0;
$shadowBtnBack:#0d3c24;
$grBtnSuccessHoverBottom:#38a727;
$grBtnSuccessHoverTop:#6fe55a;

$linkHoverColor: $shadowBtnBack;

$textShadow: 0px 1px 1px white;
$formControlsWidth: 346px;

$gw-column: 100px;
$gw-gutter: 20px;