%a{:href=>'#',:class=>'user'}
  %img{:src=>'images/user-empty.png'}
  f1bo1988
%a{:href=>'#', :class=>'logo'}
  %img{:src=>'images/logo.png'}
%ul{:class=>'nav'}
  %li
    %span{:class=>'current'} Обсуждения
  %li
    %a{:href=>'#'} Блоги
  %li
    %a{:href=>'#'} О проекте
